<!-- Header section -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center text-lg-left">
                    <!-- logo -->
                    <a href="./index.html" class="site-logo">
                        <img src="~/images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <form class="header-search-form" method="get" action="@Url.Action("Search", "Products")">
                        <input type="text" placeholder="Search on divisima ...." name="SearchString">
                        <button><i class="flaticon-search"></i></button>
                    </form>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="user-panel">
                        <div class="up-item">
                            <i class="flaticon-profile"></i>
                            <a href="@Url.Content("/Home/LogIn")">Sign</a> In or <a href="@Url.Content("/Home/Register")">Create Account</a>
                        </div>
                        @Html.Action("CartPartial","Cart")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-navbar">
        <div class="container">
            <!-- menu -->
            <ul class="main-menu">
                <li><a href="@Url.Content("/Home/Index")">Home</a></li>
                <li>
                    <a href="#">Product</a>
                    <ul class="sub-menu">
                        @foreach (var item in @Model)
                        {
                            <li><a href="@Url.Content("/Products/Category/" + @item.ID)">@item.CategoryName</a></li>
                        }
                    </ul>
                </li>
                <li>
                    <a href="@Url.Content("/Service/Index")">Services</a>
                </li>
                <li><a href="@Url.Content("/Contact/Index")">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
